<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>

</head>
<body>
    <div class ="left-side" th:fragment="aside">
        <ul class="big_menu">
            <li class="menu-list"><a href="#">SHOP</a>
                <ul class="small_menu">
                    <li><a href="#">Collaboration</a></li>
                    <li><a href="#">New Arrival</a></li>
                    <li><a href="#">Outwear</a></li>
                    <li><a href="#">Knitwear</a></li>
                    <li><a href="#">Shirts</a></li>
                    <li><a href="#">Innerwear</a></li>
                    <li><a href="#">Bottom</a></li>
                    <li><a href="#">Accessories</a></li>
                </ul>
            </li>
            <li><a href="#">COLLECTION</a></li>
            <li><a href="#">Q & A</a></li>
            <li><a href="#">REVIEW</a></li>
            <li><a href="#">NOTICE</a></li>
        </ul>
        <script src="/static/script/main/aside_menu.js"></script>
    </div>
</body>
</html>